body{
    margin:0;
    text-align: center;
    
}
h1{
    font-family: 'Comforter';
    font-size: 5rem;
    color: #1c50dd;
    line-height: 2;
    
}
h3{
    font-family:'Roboto';
    color: #1c50dd;

}
p{
    
}
.profile_pic{
    margin-top: 50;
    height: 20%;
}
.clouds{
    height:10%;
    position:absolute;
    right:1000;

}
.clouds2{
    height:10%;
    position:absolute;
    right:300;
}
.mountain{
    margin-top: 60;
}
.top{  
    background-color: #CADEFC;
    /*background-image: url("images/mountain_bg.jpg");*/
    position: relative;
    padding: 100;

 
    
    

}
.middle{
    
}
.bottom{
   
}